body {
    margin: 1em;
    background: #E1E7FA;
    font-family: 'Muli', sans-serif;
   
}
.navbar {
    height: 10em;
    background: #ffffff;
    text-transform: capitalize;
	display: flex;
	justify-content: space-between;
    align-items: center;

}
.logo {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
 
}
.navbar ul {
    text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin: 0 4em;
    list-style-type: none;

}
.navbar ul li{
    margin:0 25px;
}
.blue {
    background-color:#0829cc;
	border-radius: 25px;
    color:#ffffff;
    height: 41px;
    width: 123px;
    font-weight: bold;
    border:none;
	
}
.hero {
	height: 90vh;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
}
.design {
    text-transform: capitalize;
}
.design h1 {
   
}
.design button {
    background-color:#F80051;
	border-radius: 25px;
    color:#ffffff;
    height: 41px;
    width: 123px;
    font-weight: bold;
    border:none;
}
.design {
    height: 100%;
    width: 95%;
    background: #E1E7FA;
    margin: 4em;    
}
