body {
    margin: 1em;
    /* height: 500px; */
    background: #E1E7FA;
    font-family: 'Muli', sans-serif;
   
}
.navbar {
    height: 5em;
    background: #ffffff;
    text-transform: capitalize;
	display: flex;
	justify-content: space-between;
    align-items: center;

}
.logo {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
 
}
.navbar ul {
    text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin: 0 4em;
    list-style-type: none;

}
.navbar ul li{
    margin:0 25px;
}
.navbar button {
    background-color:#0829cc;
	border-radius: 25px;
    color:#ffffff;
    height: 41px;
    width: 123px;
    font-weight: bold;
    border:none;
	
}
.hero {
	height: 9000px;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

/* .design {
    text-transform: capitalize;
    height:300px;
    
} */
.designText h1{
    
    width: 300px;
    margin-left: 15em;
    font-size: 4em;
    width:500px;
}
.design button {
    background-color:#F80051;
	border-radius: 25px;
    color:#ffffff;
    height: 50px;
    width: 153px;
    font-weight: bold;
    border:none;
}
.design {
    height: 100vh;
    width: 95%;
    background: #E1E7FA;
    margin: 4em;    
    display: flex;
	align-items: center;
}
.bestPractice {
    height: 50vh;
    width: 95%;
    background: #E1E7FA;
    margin: 4em;   
    display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch; 
}
.bprTop {

    height:70%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.bprBottom{
    height:30%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.bpRight{
    background:#FBFBFB;
    width: 69%;
}
.bpLeft{
    background: #ffffff;
    width: 31%;
}
/* .library {
    height: 100%;
    width: 95%;
    background: red;
    margin: 4em;    
}
.enterprise {
    height: 100%;
    width: 95%;
    background: red;
    margin: 4em;    
}
.five {
    height: 100%;
    width: 95%;
    background: red;
    margin: 4em;    
}
.interviews {
    height: 100%;
    width: 95%;
    background: red;
    margin: 4em;    
}
.invision {
    height: 100%;
    width: 95%;
    background: red;
    margin: 4em;    
} */