body {
    margin: 1em;
    background: #E1E7FA;
    font-family: 'Muli', sans-serif;
   
}
.navbar {
    height: 10em;
    background: #ffffff;
    text-transform: capitalize;
	display: flex;
	justify-content: space-between;
    align-items: center;
    

}
.logo {
 
}
.navbar ul {
    text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin: 0 4em;
    list-style-type: none;

}
.navbar ul li{
    margin:0 25px;
}

.hero {
	height: 90vh;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
}
.design {
    text-transform: capitalize
}
.design h1 {
   
}

.design {
    height: 100%;
    width: 95%;
    background: #E1E7FA;
    margin: 4em;    
}

.bestPractice {
    height: 90vh;
    width: 95%;
    background: red;
    margin: 4em; 
}
.library {
    height: 100px;
    width: 95%;
    background: red;
    margin: 4em; 
}